* {
    font-family:"Roboto","Helvetica",sans-serif;
}

.header{
    display:flex;
    background-color:#1F2937;
    color:#F9FAF8;
    padding:24px 50px;
    justify-content:space-between;
    align-items:center;
    font-size:30px;
}

.header h1{
    font-size:40px;
}

.header ul{
    display:flex;
    padding:0px;
    margin:0px;
    list-style-type:none;
    gap:15px;
    font-size:medium;
    color:#E5E7EB;
}

.content{
    display:flex;
    flex-direction:column;
}

.first-section{
    display:flex;
    background-color:#1F2937;
    color:#F9FAF8;
    padding:50px;
    gap:30px;
    justify-content:center;
    align-items:center;
    font-size:17px;
}

.first-section button{
    font-size:15px;
    padding:10px 15px;
    border:none;
    border-radius:20px;
    background-color:#3882F6;
    color:#F9FAF8;
    font-weight:700;
    flex:0 0 auto;
}

.second-section{
    display:flex;
    flex-direction:column;
    padding:50px;
    font-size:17px;
    color:#1F2937;
}

.second-section .section-header{
    align-self:center;
}

.second-section .container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.second-section .item{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.second-section img{
    border-radius:10px;
    width:200px;
    height: 150px;
    object-fit:cover;
    border-color:#3882F6;
}

.third-section{
    background-color:#E5E7EB;
    padding:50px;
    display:flex;
    flex-direction:column;
}

.third-section .quote{
    font-size:24px;
    font-weight:light;
    font-style:italic;
    color:#1F2937;
    align-self:center;
    text-align:center;
}

.third-section .name{
    font-size:22px;
    font-weight:bolder;
    align-self:end;
}

.section-header{
    font-weight:800;
    font-size:32px;
}

